---
import "./src/styles/global.css";
import { SvelteToast } from "@zerodevx/svelte-toast";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Manjano | My Journal</title>
  </head>
  <body>
    <slot />
  </body>
  <SvelteToast client:load />
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
